    @font-face {
    font-family: 'IcoMoon-Free';
    src: url('../fonts/IcoMoon-Free.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
//test
.meh{
    color: red;
}

.cool{
    color: green;
}

.wow{
    color:blue;
}
